<ul class="nav nav-tabs">
    <li class="nav-item"><a ng-click="toUserProfil()" class="btn">Moj profil</a></li>
    <li class="nav-item"><a ng-click="toListaRezervacija()" class="btn">Moje rezervacije</a></li>
    <li class="nav-item"><a ng-click="toIstorijaPoseta()"  class="btn">Istorija poseta</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Bioskopi</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Pozorišta</a></li>
    <li class="nav-item"><a ng-click="toPrijateljiLista()"  class="btn">Prijatelji</a></li>
    <li class="nav-item"><a ng-click="toFanzona()"  class="btn">Fan zona</a></li>

</ul>
<div class="d-flex flex-row justify-content-around" style="padding-top:30px;background-color:rgb(241,247,252);">
    <div  class="span3">
        <div class="form-group pull-left">
            <input type="text" class="search form-control" placeholder="Pretražite bioskope">
        </div>
        <span class="counter pull-right"></span>

        <table data-toggle="table" class="table table-hover table-striped table-bordered results" >
            <thead>
            <tr>
                <th data-sortable="true"> Naziv </th>
                <th data-sortable="true"> Grad </th>
                <th  data-sortable="true"> Udaljenost </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="bioskop in bioskopi">
                <td><a ng-click="toUstanova(bioskop.id)" class="button">{{bioskop.naziv}}</a></td>
                <td>{{bioskop.adresa}}</td>
                <td>250</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
