<ul class="nav nav-tabs">
    <li class="nav-item"><a ng-click="toUserProfil()" class="btn">Moj profil</a></li>
    <li class="nav-item"><a ng-click="toListaRezervacija()" class="btn">Moje rezervacije</a></li>
    <li class="nav-item"><a ng-click="toIstorijaPoseta()"  class="btn">Istorija poseta</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Bioskopi</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Pozorišta</a></li>
    <li class="nav-item"><a ng-click="toPrijateljiLista()"  class="btn">Prijatelji</a></li>
    <li class="nav-item"><a ng-click="toFanzona()"  class="btn">Fan zona</a></li>

</ul>

<div class="d-flex flex-row justify-content-around" style="padding-top:30px;background-color:rgb(241,247,252);">
    <div  class="span3">
        <div class="form-group pull-left">
            <input type="text" class="search form-control" placeholder="Pretražite posete">
        </div>
        <span class="counter pull-right"></span>

        <table data-toggle="table" class="table table-hover table-striped table-bordered results">
            <thead>
            <tr>
                <th > Datum </th>
                <th > Film/predstava </th>
                <th > Lokacija </th>
                <th > Ocena ambijenta </th>
                <th > Ocena filma/predstave </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>21.12.2015</td>
                <td>Hari Poter</td>
                <td>Arena</td>
                <td><input type="number" name="your_awesome_parameter" id="rating1" class="rating" data-clearable="remove"/></td>
                <td><input type="number" name="your_awesome_parameter" id="rating1" class="rating" data-clearable="remove"/></td>
            </tr>
            <tr>
                <td>21.12.2015</td>
                <td >Hari Poter 2</td>
                <td >Carena</td>
                <td><input type="number" name="your_awesome_parameter" id="rating1" class="rating" data-clearable="remove"/></td>
                <td><input type="number" name="your_awesome_parameter" id="rating1" class="rating" data-clearable="remove"/></td>
            </tr>
            <tr>
                <td>21.12.2015</td>
                <td >Hari Poter 3</td>
                <td >Barena</td>
                <td><input type="number" name="your_awesome_parameter" id="rating1" class="rating" data-clearable="remove"/></td>
                <td><input type="number" name="your_awesome_parameter" id="rating1" class="rating" data-clearable="remove"/></
            </tr>
            <tr>
                <td>21.12.2015</td>
                <td >Hari Poter 4</td>
                <td >Darena</td>
                <td><input type="number" name="your_awesome_parameter" id="rating1" class="rating" data-clearable="remove"/></td>
                <td><input type="number" name="your_awesome_parameter" id="rating1" class="rating" data-clearable="remove"/></
            </tr>

            </tbody>
        </table>
    </div>
</div>