<ul class="nav nav-tabs">
    <li class="nav-item"><a ng-click="toUserProfil()" class="btn">{{ja.ime}}- profil </a></li>
    <li class="nav-item"><a ng-click="toListaRezervacija()" class="btn">Moje rezervacije</a></li>
    <li class="nav-item"><a ng-click="toIstorijaPoseta()"  class="btn">Istorija poseta</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Bioskopi</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Pozorišta</a></li>
    <li class="nav-item"><a ng-click="toPrijateljiLista()"  class="btn">Prijatelji</a></li>
    <li class="nav-item"><a ng-click="toFanzona()"  class="btn">Fan zona</a></li>
    <li class="nav-item" style="color: #bd2130;"><a ng-click="logout()"  class="btn">Izloguj se</a></li>

</ul>

<div class="d-flex flex-row justify-content-around" style="padding-top:30px;background-color:rgb(241,247,252);">
    <div  class="span3">
        <div class="form-group pull-left">
            <input type="text" class="search form-control" placeholder="Pretražite posete" ng-model="pretraga">
        </div>
        <span class="counter pull-right"></span>

        <table data-toggle="table" class="table table-hover table-striped table-bordered results">
            <tr>
                <th ng-click="orderByMe('datum')" class="btn-link"> Datum </th>
                <th ng-click="orderByMe('nazivDela')" class="btn-link"> Događaj </th>
                <th ng-click="orderByMe('nazivUstanove')" class="btn-link"> Lokacija </th>
                <th ng-click="orderByMe('ocenaAmbijenta')" class="btn-link"> Ocena ambijenta </th>
                <th ng-click="orderByMe('ocenaProjekcije')" class="btn-link"> Ocena filma/predstave </th>
            </tr>
            <tr ng-repeat="poseta in posete | orderBy:myOrderBy | filter:pretraga">
                <td>{{poseta.datum |date}}</td>
                <td>{{poseta.nazivDela}}</td>
                <td>{{poseta.nazivUstanove}}</td>
                <td>
                    <jk-rating-stars rating="poseta.ocenaAmbijenta" ></jk-rating-stars>
                    <button class="btn btn-primary" ng-click="oceniAmbijent(poseta.kartaId)" type="button" >Oceni</button>
                </td>
                <td>
                    <jk-rating-stars rating="poseta.ocenaProjekcije" ></jk-rating-stars>
                    <button class="btn btn-primary" ng-click="oceniProjekciju(poseta.kartaId)" type="button" >Oceni</button>
                </td>

            </tr>

        </table>
    </div>
</div>

