<ul class="nav nav-tabs">
    <li class="nav-item"><a ng-click="toUserProfil()" class="btn">Moj profil</a></li>
    <li class="nav-item"><a ng-click="toListaRezervacija()" class="btn">Moje rezervacije</a></li>
    <li class="nav-item"><a ng-click="toIstorijaPoseta()"  class="btn">Istorija poseta</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Bioskopi</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Pozorišta</a></li>
    <li class="nav-item"><a ng-click="toPrijateljiLista()"  class="btn">Prijatelji</a></li>
    <li class="nav-item"><a ng-click="toFanzona()"  class="btn">Fan zona</a></li>

</ul>
<div class="d-flex flex-row justify-content-around" style="padding-top:30px;background-color:rgb(241,247,252);">
    <div  class="span3">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr></tr>
				</thead>
				<tbody>
					<tr>
						<td>Delo</td>
						<td>Datum</td>
						<td>Vreme</td>
						<td>Sala</td>
						<td>Red</td>
						<td>Sedište</td>
						<td>Stara cena</td>
						<td>Nova cena</td>
						<td>Dugme</td>
					</tr>
					<tr ng-repeat="popust in popusti">
						<td>{{popust.projekcija.nazivDela}}</td>
						<td>{{popust.projekcija.datum|date}}</td>
						<td>{{popust.projekcija.vreme}}</td>
						<td>{{popust.projekcija.nazivSale}}</td>
						<td>{{popust.karta.red}}</td>
						<td>{{popust.karta.sediste}}</td>
						<td>{{popust.projekcija.cena}}</td>
						<td>{{popust.cena}}</td>
						<td><button class="btn btn-primary" type="button" ng-click="obrisiPopust(popust.id)">Obriši</button></td>
					</tr>
					<tr>
						<td><button class="btn btn-primary" type="button" ng-click="dodajPopust()">Dodaj</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>