<div class="register-photo" style="background-color:rgb(255,255,255);">
    <div class="form-container">
        <form method="post" style="background-color:rgb(241,247,252);">
            <h1 class="text-center" style="height:70px;">Novi oglas</h1>
            <input type="text" ng-model="rekvizit.naziv" name="name" required placeholder="Ime oglasa" maxlength="30" class="form-control"
                   style="margin-top:10px;background-color:rgb(255,255,255);"/>
            <input type="text" ng-model="rekvizit.opis" name="surname" required maxlength="30" placeholder="Opis" class="form-control"
                   style="margin-top:10px;background-color:rgb(255,255,255);"/>
            <label style="margin-top:10px;">Datum do kog važi oglas:</label>
            <input type="date" ng-model="rekvizit.aktivanDo" class="form-control" style="margin-top:10px;"/>
            <label style="margin-top:10px;">Izaberite sliku rekvizita &nbsp; &nbsp;</label>
            <input type="file"  style="margin-top:10px;" name="pic" accept="image/*">

            <button class="btn btn-primary btn-block" ng-click="napraviRekvizit()" type="submit" style="background-color:rgb(244,133,71);">Postavi
                oglas
            </button>
        </form>
    </div>
</div>