
<div class="register-photo" style="background-color:rgb(255,255,255);">
	<div class="form-container">
		<form method="post" style="background-color:rgb(241,247,252);">
			<h1 class="text-center" style="height:70px;">Cena</h1>
			<div class="form-row">
				<div class="col">Stara cena</div>
				<div class="col">{{staraCena}}</div>
			</div>
			<div class="form-row">
				<div class="col">Nova cena</div>
				<div class="col"><input type="text" ng-model="novaCena"/> </div>
			</div>
			<div class="form-row">
				<div class="col"><button ng-click="toUserProfil()" class="btn btn-primary btn-block" type="submit" style="background-color:rgb(244,133,71);">Odustani</button></div>
				<div class="col"><button ng-click="napravi()" class="btn btn-primary btn-block" type="submit" style="background-color:rgb(244,133,71);">Završi</button></div>
			</div>
		</form>
	</div>
</div>