<div class="d-flex flex-row justify-content-center align-items-start" style="font-size:25px;">
    <div><label class="d-flex justify-content-center" style="font-size:36px;">Preuzmi oglas za odobravanje</label>
        <div ng-repeat="neofic in neoficialni" class="block span3">
            <div class="product">
                <img src="http://placehold.it/295x190/333333/FFFFFF">
            </div>
            <div class="info">
                <h4>{{neofic.naziv}}</h4>
                <span class="description">
          {{neofic.opis}}
        </span>
                <span class="price">{{neofic.aktivanDo | date}}</span>
                <a class="btn btn-info pull-right" ng-click="preuzmi(neofic)"><i class="icon-shopping-cart"></i> Preuzmi</a>
            </div>
        </div>
    </div>
</div>
