<ul class="nav nav-tabs">
    <li class="nav-item"><a ng-click="toUserProfil()" class="btn">{{ja.ime}}- profil </a></li>
    <li class="nav-item"><a ng-click="toListaRezervacija()" class="btn">Moje rezervacije</a></li>
    <li class="nav-item"><a ng-click="toIstorijaPoseta()" class="btn">Istorija poseta</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()" class="btn">Bioskopi</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()" class="btn">Pozorišta</a></li>
    <li class="nav-item"><a ng-click="toPrijateljiLista()" class="btn">Prijatelji</a></li>
    <li class="nav-item"><a ng-click="toFanzona()" class="btn">Fan zona</a></li>
    <li class="nav-item" style="color: #bd2130;"><a ng-click="logout()"  class="btn">Izloguj se</a></li>
    <span ng-if="jesamAdmin==true"><li class="nav-item" ng-click="toSistem()" style="color: #02bd00;"><a ng-click="toAdminske()" class="btn">Admin</a></li></span>
</ul>
<ul class="nav nav-tabs d-flex flex-row justify-content-center">
    <li class="nav-item"><a ng-click="toFanzona()" class="btn">Rekviziti</a></li>
    <li class="nav-item"><a ng-click="toOglasi()" class="btn">Oglasi</a></li>
    <span ng-if="jesamFan==true"><li class="nav-item" ng-click="toFanAdmin()" style="color: #02bd00;"><a ng-click="toAdminske()" class="btn">Admin Fan zone</a></li></span>
</ul>
<div class="d-flex flex-row justify-content-center align-items-start">
    <div style="width:200px;">
        <button ng-click="toNoviOglas()" class="btn btn-primary" type="button">Dodaj oglas</button>
    </div>
    <div>
        <div ng-repeat="neofic in neoficialni"class="block span3">
            <div class="product">
                <img src="http://placehold.it/295x190/333333/FFFFFF">
                <div class="buttons">
                    <a class="preview btn btn-large btn-info"  ng-click="toPregled(neofic.id)" ><i class="icon-eye-open"></i> Ponude</a>
                </div>
            </div>

            <div class="info">
                <h4>{{neofic.naziv}}</h4>
                <span class="description">
          {{neofic.opis}}
        </span>
                <span class="price">{{neofic.aktivanDo|date}}</span>
                <a class="btn btn-info pull-right" ng-click="toPonudi(neofic.id)" ><i class="icon-shopping-cart"></i> Ponudi</a>
            </div>


        </div>
    </div>
</div>