<div class="register-photo" style="background-color:rgb(255,255,255);">
    <div class="form-container">
        <form method="post" style="background-color:rgb(241,247,252);">
            <h1 class="text-center" style="height:70px;">Ponudite za oglas {{rekvizit.naziv}}</h1>
            <input class="form-control" ng-model="ponuda.cena" type="number" name="surname" placeholder="Ponuda" style="margin-top:10px;background-color:rgb(255,255,255);">
            <button class="btn btn-primary btn-block" ng-click="postaviPonudu()" type="submit" style="background-color:rgb(244,133,71);">Postavi ponudu </button>
        </form>
    </div>
</div>