<ul class="nav nav-tabs">
    <li class="nav-item"><a ng-click="toUserProfil()" class="btn">Moj profil</a></li>
    <li class="nav-item"><a ng-click="toListaRezervacija()" class="btn">Moje rezervacije</a></li>
    <li class="nav-item"><a ng-click="toIstorijaPoseta()"  class="btn">Istorija poseta</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Bioskopi</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Pozorišta</a></li>
    <li class="nav-item"><a ng-click="toPrijateljiLista()"  class="btn">Prijatelji</a></li>
    <li class="nav-item"><a ng-click="toFanzona()"  class="btn">Fan zona</a></li>
    <li class="nav-item" style="color: #bd2130;"><a ng-click="logout()"  class="btn">Izloguj se</a></li>
</ul>
<div class="d-flex flex-column justify-content-center align-items-center" style="padding:100px;">
    <form style="padding:0px;margin:0px;"><label class="d-flex flex-row justify-content-center"
                                                 style="padding:0px;font-size:20px;">Kreiraj ustanovu</label><input
            class="form-control" type="text" placeholder="Naziv" ng-model="ustanova.naziv" style="margin:1px;padding:0px;"><input
            class="form-control" type="text"
            placeholder="Adresa" ng-model="ustanova.adresa" style="margin:0px;padding:0px;"><textarea class="form-control form-control-lg" placeholder="Opis" ng-model="ustanova.opis"></textarea>
        <label class="d-flex flex-row justify-content-start" style="padding:0px;font-size:16px;">Vrsta ustanove:</label>
        <div
                class="d-flex flex-row justify-content-around">
            <div class="form-check"><input class="form-check-input" name="name" type="radio" ng-model="ustanovaTip" ng-value="false" id="ustanovaPozoriste">
                <label class="form-check-label" >Pozoriste</label>
            </div>
            <div class="form-check"><input class="form-check-input" name="name" type="radio" ng-model="ustanovaTip" ng-value="true" id="ustanovaBioskop">
                <label class="form-check-label" >Biskop</label>
            </div>
        </div>
        <label>Administrator ustanove:</label>
        <select class="form-control" ng-model="izabranAdmin" ng-options="korisnik.ime+' '+ korisnik.prezime for korisnik in korisnici" >
        </select>
        <button ng-click="kreirajUstanovu()" class="btn btn-primary btn-block" type="submit" style="background-color:rgb(244,133,71);">Kreiraj</button>
    </form>
</div>