<h1>{{title}}</h1>
<ul>
    <li  ng-repeat="item in items">{{item}} </li>
</ul>
<input type="text" ng-model="title">

<div class="register-photo" style="background-color:rgb(255,255,255);">
    <div class="form-container">
        <form method="post" style="background-color:rgb(241,247,252);">
            <h1 class="text-center" style="height:70px;">Registracija</h1>
            <input class="form-control" type="email" name="email" required="" placeholder="Email" style="background-color:rgb(255,255,255);margin-top:10px;">
            <input class="form-control" type="password" name="password" required="" placeholder="Lozinka"                                                                                                                                                                                                                                  maxlength="30" minlength="4" style="background-color:rgb(255,255,255);margin-top:10px;"><input class="form-control" type="password" name="password-repeat" required="" placeholder="Ponovite lozinku" maxlength="30" minlength="4" style="background-color:rgb(255,255,255);margin-top:10px;">
            <input class="form-control" type="text" name="name" required="" placeholder="Ime" maxlength="30" style="margin-top:10px;background-color:rgb(255,255,255);">
            <input class="form-control" type="text" name="surname" required="" placeholder="Prezime" maxlength="30" style="margin-top:10px;background-color:rgb(255,255,255);">
            <input class="form-control" type="text" name="city" required="" placeholder="Grad" maxlength="30" style="margin-top:10px;background-color:rgb(255,255,255);">
            <input class="form-control" type="tel" name="telephone" required="" placeholder="Broj telefona" maxlength="30" pattern="^[0-9\+]{6,30}$" style="margin-top:10px;background-color:rgb(255,255,255);">
            <button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(244,133,71);">Registruj se</button>
            <p class="text-center"> <a ng-click="toLogin()" class="btn">Već imate nalog? Prijavite se.</a></p>
        </form>
    </div>
</div>
