<ul class="nav nav-tabs">
    <li class="nav-item"><a ng-click="toUserProfil()" class="btn">Moj profil</a></li>
    <li class="nav-item"><a ng-click="toListaRezervacija()" class="btn">Moje rezervacije</a></li>
    <li class="nav-item"><a ng-click="toIstorijaPoseta()"  class="btn">Istorija poseta</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Bioskopi</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Pozorišta</a></li>
    <li class="nav-item"><a ng-click="toPrijateljiLista()"  class="btn">Prijatelji</a></li>
    <li class="nav-item"><a ng-click="toFanzona()"  class="btn">Fan zona</a></li>

</ul>
<div class="register-photo" style="background-color:rgb(255,255,255);">
    <div class="form-container">
        <form method="post" style="background-color:rgb(241,247,252);">
            <h1 class="text-center" style="height:70px;">Rezervacija</h1>
            <div class="form-row">
                <div class="col">
                    <h4>Bioskop</h4>
                </div>
                <div class="col"><select class="form-control"><optgroup label="Bioskopi"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
            </div>
            <div class="form-row">
                <div class="col">
                    <h4>Projekcija</h4>
                </div>
                <div class="col"><select class="form-control"><optgroup label="Projekcije"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
            </div>
            <div class="form-row">
                <div class="col">
                    <h4>Datum</h4>
                </div>
                <div class="col"><input class="form-control" type="date"></div>
            </div>
            <div class="form-row">
                <div class="col">
                    <h4>Termin</h4>
                </div>
                <div class="col"><select class="form-control"><optgroup label="Termini"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
            </div>
            <div class="form-row">
                <div class="col">
                    <h4>Sala</h4>
                </div>
                <div class="col"><select class="form-control"><optgroup label="Sale"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
            </div>
            <div class="form-row">
                <div class="col"><button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(244,133,71);">Odustani</button></div>
                <div class="col"><button ng-click="toRez2()" class="btn btn-primary btn-block" type="submit" style="background-color:rgb(244,133,71);">Dalje</button></div>
            </div>
        </form>
    </div>
</div>