<div class="register-photo" style="background-color:rgb(255,255,255);">
    <div class="form-container">
        <form method="post" style="background-color:rgb(241,247,252);">
            <h1 class="text-center" style="height:70px;">Rezervacija</h1>
            <div class="form-row">
                <div class="col">
                    <h4>Bioskop</h4>
                </div>
                <div class="col"><select class="form-control" ng-options="bioskop.naziv for bioskop in bioskopi" ng-model="selectedUstanova" ng-change="nadjiProjekcije()"></select></div>
            </div>
            <div class="form-row">
                <div class="col">
                    <h4>Projekcija</h4>
                </div>
                <div class="col"><select class="form-control" ng-options="projekcija for projekcija in arejNaziva " ng-model="selectedDelo" ng-change="nadjiDatume()"></select></div>
            </div>

            <div class="form-row">
                <div class="col">
                    <h4>Datum</h4>
                </div>
                <div class="col"><select class="form-control" ng-options="datum | date for datum in arejDatuma " ng-model="selectedDatum" ng-change="nadjiVreme()"></select></div>
            </div>
            <div class="form-row">
                <div class="col">
                    <h4>Vreme</h4>
                </div>
                <div class="col"><select class="form-control" ng-options="projekcija.vreme for projekcija in selectedList.projekcije" ng-model="selectedVreme" ></select></div>
            </div>
            <div class="form-row">
                <div class="col">
                    <h4>Sala</h4>
                </div>
                <div class="col"><select class="form-control" ng-options="projekcija.nazivSale for projekcija in selectedList.projekcije" ng-model="selectedSala" ></select></div>
            </div>
            <div class="form-row">
                <div class="col"><button ng-click="toUserProfil()" class="btn btn-primary btn-block" type="submit" style="background-color:rgb(244,133,71);">Odustani</button></div>
                <div class="col"><button ng-click="toRez2()" class="btn btn-primary btn-block" type="submit" style="background-color:rgb(244,133,71);">Dalje</button></div>
            </div>
        </form>
    </div>
</div>