<div>
    <div class="legends">
        <input id="legAvailable" type="checkbox" disabled />
        <label for="legAvailable"> Dostupno</label>
        <input id="legBooked" type="checkbox" data-status="booked" checked disabled />
        <label for="legBooked"> Bukirano</label>
        <input id="legBooked" type="checkbox" checked disabled />
        <label for="legBooked"> Izabrano</label>
    </div>

    <div id="seats">

    </div>

    <div>
        <br />
        <h4>Mode</h4>
        <input type="radio" name="mode" value="false" class="flexiSeatsMode" />Single
        <input type="radio" name="mode" value="true" class="flexiSeatsMode" />Multiple
    </div>
    <div class="row">
        <div class="col"><button ng-click="toUserProfil()" class="btn btn-primary btn-block" type="submit" style="width:100px;background-color:rgb(244,133,71);">Odustani</button></div>
        <div class="col"><button ng-click="toRez3()" class="btn btn-primary btn-block" type="submit" style="width:100px;background-color:rgb(244,133,71);">Dalje</button></div>
    </div>
</div>