
<div class="register-photo" style="background-color:rgb(255,255,255);">
    <div class="form-container">
        <form method="post" style="background-color:rgb(241,247,252);">
            <h1 class="text-center" style="height:70px;">Rezervacija</h1>
            <div class="form-row">
                <div class="col"><select class="form-control"><optgroup label="Sale"><option value="12" selected="">mika</option><option value="13">pera</option><option value="14">zika</option></optgroup></select></div>
                <div class="col"><button class="btn btn-primary" type="button" style="margin-top:0px;padding:11px;background-color:rgb(71,161,244);padding-top:6px;padding-bottom:6px;">Pozovi prijatelja</button></div>
            </div>
            <p style="padding-top:25px;">Pozvani prijateji:</p>
            <ul class="list-group d-inline-block">
                <li class="list-group-item" style="padding-top:0px;padding-right:8px;padding-bottom:4px;padding-left:8px;"><span style="font-size:12px;">List Group Item 1ssdadad</span></li>
                <li class="list-group-item" style="padding-top:0px;padding-right:0px;padding-bottom:4px;padding-left:8px;"><span style="font-size:12px;">List Group sdadad</span></li>
            </ul>
            <div class="form-row">
                <div class="col"><button ng-click="toUserProfil()" class="btn btn-primary btn-block" type="submit" style="background-color:rgb(244,133,71);">Odustani</button></div>
                <div class="col"><button ng-click="zarezervuj()" class="btn btn-primary btn-block" type="submit" style="background-color:rgb(244,133,71);">Završi</button></div>
            </div>
        </form>
    </div>
</div>