<div class="d-flex flex-column justify-content-center align-items-center" style="padding:100px;">
    <form style="padding:0px;margin:0px;"><label class="d-flex flex-row justify-content-center"
                                                 style="padding:0px;font-size:20px;">Opcije sistem administratora</label>

        <label>Izmeni ulogu korisniku</label>
        <button ng-click="toPromeni()" class="btn btn-primary btn-block" style="background-color:rgb(244,133,71);">Izmeni</button>
        <label>Registruj ustanovu</label>
        <button ng-click="toRegistruj()" class="btn btn-primary btn-block" style="background-color:rgb(244,133,71);">Registruj</button>
    </form>
</div>