<ul class="nav nav-tabs">
    <li class="nav-item"><a ng-click="toUserProfil()" class="btn">{{ja.ime}}- profil </a></li>
    <li class="nav-item"><a ng-click="toListaRezervacija()" class="btn">Moje rezervacije</a></li>
    <li class="nav-item"><a ng-click="toIstorijaPoseta()"  class="btn">Istorija poseta</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Bioskopi</a></li>
    <li class="nav-item"><a ng-click="toBioskopiLista()"  class="btn">Pozorišta</a></li>
    <li class="nav-item"><a ng-click="toPrijateljiLista()"  class="btn">Prijatelji</a></li>
    <li class="nav-item"><a ng-click="toFanzona()"  class="btn">Fan zona</a></li>
    <li class="nav-item" style="color: #bd2130;"><a ng-click="logout()"  class="btn">Izloguj se</a></li>

</ul>
<div class="d-flex flex-row justify-content-around" style="padding-top:30px;background-color:rgb(241,247,252);">
    <div class="col-3 d-flex flex-column">
        <input type="text"  placeholder={{ja.ime}} style="margin-top:10px;" ng-model="ja.ime">Ime
        <input type="text" placeholder={{ja.prezime}} style="margin-top:10px;"ng-model="ja.prezime">Prezime
        <input type="text" placeholder={{ja.grad}} style="margin-top:10px;"ng-model="ja.grad">Grad
        <input type="number"  placeholder={{ja.brojTelefona}} maxlength="9" style="margin-top:10px;background-color:rgb(255,255,255);"ng-model="ja.brojTelefona">Telefon
        <div class="row" style="margin-top:10px;">
            <div class="col"><button class="btn btn-primary" type="button" ng-click="azurirajCoveka()">Izmeni</button></div>
            <div class="col"><button class="btn btn-primary" type="button" ng-click="rifresuj()">Odustani</button></div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-around" style="padding-top:30px;background-color:rgb(241,247,252);">
        <div  class="span3">
            <div class="form-group pull-left">
                <input type="text" class="search form-control" placeholder="Pretražite korisnike" ng-model="pretraga">
            </div>
            <span class="counter pull-right"></span>

            <table data-toggle="table" class="table table-hover table-striped table-bordered results">
                <tr>
                    <th ng-click="orderByMe('prijatelj')" class="btn-link"><i class="fa fa-arrow-circle-o-up"  style="color: #369cda"></i></th>
                    <th ng-click="orderByMe('ime')" class="btn-link"> Ime i Prezime </th>
                    <th></th>
                </tr>
                <tr ng-repeat="prika in prijatelji | orderBy:myOrderBy | filter:pretraga">
                    <td >
                        <span ng-if="prika.prijatelj==true"><i class="fa fa-user"  style="color:rgb(10,187,28)"></i></span>
                    </td>
                    <td >{{prika.ime}}&nbsp{{prika.prezime}}</td>
                    <td >
                        <span ng-if="prika.prijatelj==true"><button class="btn btn-danger" type="button" ng-click="obrisiPriku(prika.prijateljstvoId)" >Obriši</button></span>
                        <span ng-if="prika.prijatelj==false"><button class="btn btn-success" type="button" ng-click="dodajPriku(prika.id)" >Dodaj</button></span>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>