<ul class="nav nav-tabs">
	<li class="nav-item"><a ng-click="toUserProfil()" class="btn">Moj profil</a></li>
	<li class="nav-item"><a ng-click="toListaRezervacija()" class="btn">Moje rezervacije</a></li>
	<li class="nav-item"><a ng-click="toIstorijaPoseta()" class="btn">Istorija poseta</a></li>
	<li class="nav-item"><a ng-click="toBioskopiLista()" class="btn">Bioskopi</a></li>
	<li class="nav-item"><a ng-click="toBioskopiLista()" class="btn">Pozorišta</a></li>
	<li class="nav-item"><a ng-click="toPrijateljiLista()" class="btn">Prijatelji</a></li>
	<li class="nav-item"><a ng-click="toFanzona()" class="btn">Fan zona</a></li>

</ul>
<div class="d-flex flex-row justify-content-around" style="padding-top:30px;background-color:rgb(241,247,252);">
	<div class="contact-clean">
		<button class="btn btn-primary" type="submit" ng-click="popusti()">popusti</button>
		<button class="btn btn-primary" type="submit" ng-click="repertoar()">repertoar</button>
		<button class="btn btn-primary" type="submit" ng-click="sale()">sale</button>
		<br/><br/>
		<form method="post">
			<h2 class="text-center">Profil ustanove</h2>
			<div class="form-group">
				Naziv
				<input class="form-control" type="text" name="naziv" placeholder="naziv" ng-model="ustanova.naziv"/>
			</div>
			<div class="form-group">
				Opis
				<textarea class="form-control" rows="14" name="opis" placeholder="promotivni opis" ng-model="ustanova.opis"></textarea>
			</div>
			<div class="form-group">
				Adresa
				<input class="form-control" type="text" name="adresa" placeholder="adresa" ng-model="ustanova.adresa"/>
				<iframe allowfullscreen="" frameborder="0" width="100%" height="450" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDaEw6o8OhJvRQnTF3gI_tibMejtfasOlY&amp;q=Paris%2C+France&amp;zoom=15"></iframe>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit" ng-click="azurirajUstanovu()">sačuvaj</button>
			</div>
		</form>
	</div>
</div>