<div class="d-flex flex-row " style="padding-top:30px;background-color:rgb(241,247,252);">
    <div class="col-6 d-flex flex-column ">
        <p style="margin-top:10px;">Naziv Ustanove - {{ustanova.naziv}}
        <p style="margin-top:10px;">Prosečna ocena ustanove - {{ustanova.ocena}}
        <p style="margin-top:10px;">Opis ustanove - {{ustanova.opis}}
        <p style="margin-top:10px;margin-bottom: 40px;">Adresa ustanove - {{ustanova.adresa}}
    </div>
    <div class="col-6 d-flex flex-column">
        <span ng-if="nekoJe">
            <div class="col"><button class="btn btn-primary" type="button" ng-click="toPrvaRez(ustanova.id)">Rezerviši karte</button></div>
            <br/><br/>
            <div class="col"><button class="btn btn-primary" type="button" ng-click="toBrzaRez(ustanova.id)">Brze rezervacije</button></div>
        </span>

    </div>
</div>
</div><iframe allowfullscreen="" frameborder="0" width="100%" height="450" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDaEw6o8OhJvRQnTF3gI_tibMejtfasOlY&amp;q=Paris%2C+France&amp;zoom=15"></iframe></div>

